*{
    margin: 0;
    font-family: Sans-serif;
    padding: 0;
    }
html, body{
    height: 100%;
}
/* nested styling for the header*/
header{
    background-color: green;
    position: fixed;
    top: 0;
    padding: 20px 0;
    margin: 0;
    color: white;
    width: 100%;
    text-align: center;
    
    
    
    h1{
        font-size: 30px;
        text-transform: uppercase;
    }
}

footer{
    background-color: green;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

section{
  background-image: url('hero.jpg');
   background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 background-blend-mode: soft-light;
 background-color: green;
 height: 100vh;

  }

.section{
    text-align: center;
    color: white;
    line-height: 1.5;
    transform: translateY(200px);
}

.section h2{
    font-size: 40px;
}